body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;

    .joystick-area {
        width: 1400px;
        height: 900px;
        background: #ddd;
        border-radius: 0%;
        position: relative;
        margin: auto;
    }

    .pointer {
        width: 40px;
        height: 40px;
        background: #ff4d4d;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    
}

